@import "antd/dist/antd.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  max-width: 1370px;
  margin: 0 auto;
}

.table {
  margin-top: 100px;
}

.table-content {
  width: 100%;
  background-color: red;
}

.example {
  margin: 20px 0;
  padding: 300px 50px;
  text-align: center;

  border-radius: 4px;
}

/* .table-header {
  height: 80px;
  margin: 0 50px 0 60px;
} */
