@import "antd/dist/antd.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  max-width: 1370px;
  margin: 0 auto;
  z-index: 1000;
}

.table {
  margin-top: 100px;
}

.table-content {
  width: 100%;
}

.example {
  margin: 20px 0;
  padding: 300px 50px;
  text-align: center;

  border-radius: 4px;
}

.alert {
  z-index: 2000;
  position: absolute;
  top: 30px;
  right: 50px;
}

.tag {
  min-height: 45px;
  margin-bottom: 30px;
}
